form input{
    background-color: white;
    margin: 0;
    border-radius: 8px 0 0 8px;
    border: solid 1px gray;
    padding: 0.28rem 2rem;
    font-size: 1.4rem;
  }
  
  input[type="checkbox"]{
    scale: 1.4;
    background-color: white;
  }
  
  