button{
    width: 6rem;
    margin: 1rem;
    font-weight: 'bold';
    color: #4c2a2a;
    padding: 1rem 1.5rem;
    border: 2px solid #e9deee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #c6aec5;
    box-shadow: -.5rem -.5rem 1rem #fff;
}

button:hover{
    box-shadow: .5rem .5rem 1rem #fff;
    box-shadow: -.5rem -.5rem 1rem #f4e4ff;
}

button:active{
    box-shadow: inset .2rem .2rem 1rem #fff;
}