
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 1.6rem 1rem;
  }
  
  .list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
  }
  
  .list-item > div{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

.list-item {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}